<?php

if (!file_exists(__DIR__.'/src')) {
    exit(0);
}

return PhpCsFixer\Config::create()
    ->setRules([
        '@Symfony' => true,
        '@Symfony:risky' => true,
        '@PHPUnit75Migration:risky' => true,
        'blank_line_before_statement' => false, // as currently, some of methods are defined as one-liners
        'braces' => false,                      // as currently, some of methods are defined as one-liners
        'php_unit_dedicate_assert' => ['target' => '5.6'],
        'array_syntax' => ['syntax' => 'short'],
        'fopen_flags' => false,
        'native_constant_invocation' => true,
        'list_syntax' => ['syntax' => 'short'],
        'visibility_required' => ['property', 'method', 'const'],
        'ternary_to_null_coalescing' => true,
    ])
    ->setRiskyAllowed(true)
    ->setFinder(
        PhpCsFixer\Finder::create()
            ->in(__DIR__)
            ->append([__FILE__])
            ->exclude([
                'src/Iconv/Resources',
                'src/Intl/Icu/Resources',
                'src/Intl/Idn/Resources',
                'src/Mbstring/Resources',
                'src/Intl/Normalizer/Resources',
            ])
    )
;
